body{
  margin:0;
  font-family: system-ui;
  background:#f6f7fb;
}

/* HERO FULL SCREEN */
#hero{
  height:100vh;
  background-size:cover;
  background-position:center;
  transition:1s;
}

/* SECTIONS */
.section{
  padding:70px 8%;
}

h2{
  margin-bottom:25px;
  font-size:28px;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
  gap:22px;
}

/* CARD */
.card{
  background:white;
  border-radius:18px;
  overflow:hidden;
  text-decoration:none;
  color:black;
  box-shadow:0 8px 20px rgba(0,0,0,.08);
  transition:.25s;
}

.card:hover{
  transform:translateY(-6px);
  box-shadow:0 18px 40px rgba(0,0,0,.18);
}

.card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.card-body{
  padding:14px;
}

/* EMBED */
.embed-list iframe{
  width:100%;
  margin-bottom:25px;
  border-radius:16px;
}

/* animation */
.card{
  opacity:0;
  transform:translateY(30px);
  animation:fadeUp .6s forwards;
}

@keyframes fadeUp{
  to{
    opacity:1;
    transform:none;
  }
}
