body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#000;
  color:white;
}

/* navbar */
.navbar{
  background:#111;
  padding:20px 40px;
  font-weight:bold;
  font-size:22px;
  position:sticky;
  top:0;
}

/* hero */
#hero{
  height:85vh;
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  padding:60px;
  font-size:64px;
  font-weight:900;
}

/* sections */
.section{
  padding:80px 60px;
}

/* grid for videos */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(500px,1fr));
  gap:40px;
}

iframe{
  width:100%;
  height:300px;
  border-radius:16px;
}
